@model BlogNoticias.Models.Publicacion

@{
    ViewData["Title"] = "Post";
}


<header class="masthead" style="background-image: url('/images/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>
                        @Html.DisplayFor(model => model.Titulo)
                    </h1>
                    <h2 class="subheading">
                        @Html.DisplayFor(model => model.Subtitulo)
                    </h2>
                    <span class="meta">
                        Posted by
                        <a href="#">
                            @Html.DisplayFor(model => model.Autor)
                        </a>
                        on @Html.DisplayFor(model => model.Fecha)

                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Cuerpo)
            </div>
        </div>
    </div>
</article>

